{% extends "tmpl.html" %}

{% block title %}{{ subject.abbreviation }} {{ course.number }} - Qcumber{% endblock %}

{% block contents %}
<!-- COURSE GRADING CAREER UNITS -->
<small class="extra-course-info">{{ course.grading_basis }}, {{ course.career }}, {{ course.units }} units.</small>

<!-- COURSE NAME -->
<h2 class="course-name">
  <a href="{{ url_for('subject_page', subject_abbr=subject.abbreviation) }}">{{ subject.abbreviation }}</a> {{ course.number }}
  <small>{{ course.title }}</small>
</h2>

<!-- DESCRIPTION -->
<h4>Description</h4>
<p>{{ course.description | default('No course description on SOLUS', True) | nl2br }}</p>

<!-- REQUIREMENTS -->
<h4>Enrollment Requirements</h4>
<p>{{ course.enrollment_req | default('No enrollment requirements listed on SOLUS', True) | nl2br }}</p>

<!-- TEXTBOOKS -->
{% if textbooks %}
<h4 data-collapse-trigger="#textbooks"
    data-collapse-html="Textbooks <small>Click to show/hide textbooks</small>"
    data-collapse-default="true">
  Textbooks
</h4>
<div id="textbooks" class="textbooks">
  <table>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th>Required</th>
      <th>Price</th>
    </tr>
    {% for textbook in textbooks %}
    <tr>
      <td><a href="{{ textbook.url }}">{{ textbook.title }}</a></td>
      <td>{{ ', '.join(textbook.authors) }}</td>
      <td>{% if textbook.required %}Yes{% else %}No{% endif %}</td>
      <td>{{ textbook.price }}</td>
    </tr>
    {% endfor %}
  </table>
  <div class="extra-info">Data also avaliable at <a href="http://campusbookstore.com/" target="_blank">The Campus Bookstore</a>. Is something missing? Please let us know at <a href="mailto: feedback@qcumber.ca">feedback@qcumber.ca</a>. :)</div>
</div>
{% else %}
<h4>Textbooks <small>We didn't find any for this course at <a href="http://campusbookstore.com/" target="_blank">The Campus Bookstore</a></small></h4>
{% endif %}

<!-- SECTIONS -->
<h4>Sections</h4>
{% for term, sections in terms %}
<div class="term">
  <h4 data-collapse-trigger="#{{ term | slugify }}"
      data-collapse-default="{{ term | oldterm | default('', True) }}">
    {{ term }}
  </h4>
  <ul id="{{ term | slugify }}" class="section-list">
    {% for section in sections %}
    <li class="section" data-id="{{ section.id }}">
      <header>{{ section.type | fancy_section_type }} <small>({{ section.class_num }})</small></header>
      <table>
        {% for class in section.classes %}
        <tr>
          {% if class.day_of_week %}
          <td>{{ class.day_of_week | dayofweek }} {{ class.start_time | timeformat }} - {{ class.end_time | timeformat }}</td>
          {% else %}
          <td>TBA</td>
          {% endif %}

          <td class="instructors">
            <ul>
            {% if class.instructors %}
              {% for instructor in class.instructors %}
                <li>{{ instructor }}</li>
              {% endfor %}
            {% else %}
              <li>TBA</li>
            {% endif %}
            </ul>
          </td>

          <td class="location">{{ class.location }}</td>
        </tr>
        {% endfor %}
      </table>
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
<p>This course has no sections scheduled (According to the SOLUS course catalog).</p>
{% endfor %}

<p class="extra-info">Is something missing? Check the <a href="{{ url_for('issues') }}">known course listing issues</a>, and let us know at <a href="mailto: feedback@qcumber.ca">feedback@qcumber.ca</a>. :)</p>

{% endblock %}
