{% extends "tmpl.html" %}

{% block title %}Qcumber{% endblock %}

{% block bodytop___ignore %}
<!-- Facebook schenanigans -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=427767607365577&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Done facebook schenanigans -->
{% endblock %}

{% block contents %}
<h1 class="biglogo"><img src="{{ url_for('static', filename='images/qcumber-logo.png') }}" alt="Qcumber"></h1>
<h2 class="slogan">The refreshing (unofficial) course catalog for Queen's</h2>

{% include "components/navigation.html" %}

<!-- Facebook like button -->
<div class="fb-like-wrapper">
  <div class="fb-like"
       data-href="https://www.facebook.com/QcumberQueens"
       data-layout="standard"
       data-action="like"
       data-show-faces="true"
       data-share="true"
       data-width="300"></div>
</div>

<ul class="catalog-scan">
  {% for letter in subject_groups.keys() %}
    <li><a href="#{{ letter }}">{{letter}}</a></li>
  {% endfor %}
</ul>

<div class="catalog">
  {% for letter, subjects in subject_groups.items() %}
    <a class="top-link" href="#">back up</a>
    <h3 class="letter"><a id="{{ letter }}">{{ letter | upper }}</a></h3>

    <ul>
      {% for subject in subjects %}
        <li>
          <a href="{{ url_for('subject_page', subject_abbr=subject.abbreviation) }}">
            {{subject.abbreviation}} - {{subject.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
{% endblock %}
