{% extends "tmpl.html" %}

{% block title %}Timetable - Qcumber{% endblock %}

{% block contents %}
  <h1>Your timetable is empty!</h1>
  <p>To add something to it, click the <em>Add to Timetable</em> link next to the section you want to add</p>
{% endblock %}

{% block morejs %}
<script src="{{ url_for('static', filename='lib/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/timetable.js') }}"></script>
{% endblock %}
