<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static',  filename='styles/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  </head>

  <body>
    {% block bodytop %}{% endblock %}
    
    <header class="navbar">
      <a class="tinylogo" href="{{ url_for('index') }}"></a>

      <div class="wrapper">
        <form id="search-form" action="{{ url_for('search_results_page') }}" method="get">
          <button type="submit" class="search-button">Search</button>

          <button type="button"
                  class="refine-button"
                  data-collapse-trigger="#refine">+</button>

          <div class="query-wrapper">
            <input type="text"
                   id="query"
                   class="query-text"
                   name="q"
                   placeholder="Search Courses on Qcumber"
                   value="{{ query }}">
          </div>

          {% include "components/refine.html" %}
        </form>
      </div>
    </header>

    <section class="contents">
      {% block contents %}{% endblock %}
    </section>

    <footer class="nav-footer">
      {% include "components/navigation.html" %}
    </footer>

    <!-- The scripts. XXX: Merge & Minify them -->
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/refine.js') }}"></script>
    <script src="{{ url_for('static', filename='js/collapse.js') }}"></script>
    <script src="{{ url_for('static', filename='js/timetable_add.js') }}"></script>
    {% block morejs %}{% endblock %}
  </body>
</html>
